<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<nav class="navbar-one flex">
    <div class="left flex">
        <div class="email">
            <i class="fa fa-envelope"></i>
        </div>
        <span>Elbassuni.com</span>
        <div class="call">
            <i class="fa fa-phone-alt"></i>
        </div>
        <span>+91(112)1245789</span>
    </div>
    <div class="right flex">
        <div class="twitter">
            <i class="fab fa-twitter"></i>
        </div>
        <span>Twitter</span>
        <div class="facebook">
            <i class="fab fa-facebook"></i>
        </div>
        <span>facebook</span>
    </div>
</nav>

<nav class="navbar-second flex">
    <div class="logo">
      <h1>El-Basuni Market</h1>
    </div>
    <ul class="flex">
      <li><a routerLink="/products">home</a></li>
      <li><a routerLink="/cart">cart</a></li>
      <li><a href="#">about us</a></li>
      <li><a href="#">why us</a></li>
      <li><a href="#">testimonial</a></li>
      <li><a href="#">blog</a></li>
      <li><a href="#">contact</a></li>
    </ul>
  </nav>
