
     <div class="item">
        <div routerLink="/details/{{data.id}}">
            <img [src]=data.image alt="">
            <div class="body">
                <h4>{{data.title}}</h4>
                <p>{{data.description}}</p>
            </div>
        </div>
        
        <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
            <span>{{data.price}} L.E</span>
            <ngb-rating [max]="5" [rate]="data.rating.rate" [readonly]="true"></ngb-rating>
        </div>
    </div>